<div class="contain">
  <div class="titre">
    <div class=title><%=@item.title%></div>
  </div>
  <div class="photo">
    <div class="photopos">
      <img src ="<%=@item.image_url%>" class = "responsive">
    </div>
  </div>
  <div class="description">
    <div class ="position_description">Description :
    </div>
    <div class = "posdescri"><%=@item.description%></div>
  </div>
  <div class="price">
    <div class="totalprice">
      <div class="posprice">
        <p>Price :<%=@item.price%></p>
      </div>
<%= button_to 'Ajouter au panier' , cart_add_item_path(@item.id), method: "post" %>

      <%# <div class="butt ">
        <button  data-hover="click me!">
        
          <div>Add to card</div>
        </button>
      </div> %>
    </div>
  </div>
