<!DOCTYPE html>
<html>
  <head>
    <title>TheCatProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/08d256aef3.js" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
      <%= render'layouts/navbar' %>
    </header>
    <main>
    <% flash.each do |type, msg| %>
      <div class="flash-message <%= type %>">
        <%= msg %>
      </div>
    <% end %>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>
